node_modules/
.next/
coverage/
.DS_Store
*.log
.env*
!.env.example
.vercel/
out/
.wrangler/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/
# Symbolication related
**/app.*.symbols
**/app.*.map.json
# Exceptions to above rules
!**/default.pbxproj

# Ignore all generated code/folders by flutter to keep repo clean, while keeping dart files
flutter/**/ios/
flutter/**/linux/
flutter/**/macos/
flutter/**/web/
flutter/**/windows/
tsconfig.tsbuildinfo
