@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background-color: #000b1e;
    color: #fff;
  }
}

@theme {
  --color-primary-navy: #000b1e;
  --color-accent-gold: #c5a059;
  --color-accent-gold-light: #e2c28a;
  --color-accent-gold-dark: #a67c37;
}


@layer utilities {
  .pb-safe {
    padding-bottom: max(0.75rem, env(safe-area-inset-bottom));
  }
}
