@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background-color: #000;
    color: #fff;
  }
}


@layer utilities {
  .pb-safe {
    padding-bottom: max(0.75rem, env(safe-area-inset-bottom));
  }
}
